.body {
    background-color: rgb(223, 224, 225);
    color: white;
    font-family: "gautreaux", sans-serif;
    font-weight: 700;
    font-style: bold;
}

.landingView {
    background-size: cover;
    min-height: 100vh;
    position: relative;
    background-image: url('../images/Saint-Martin-Black-White-Landing-Crop.jpg');
}

.additionalInfoLanding {
    color: black;
}

.nav {
    margin-left: 4vh;
    padding-top: 2vh;
    justify-content: space-between;
}

.navLinkMediaRemove {
    margin-right: 4vh;
    color: white;
    text-decoration: none;
    font-size: 36px;
}

.navLink {
    margin-right: 4vh;
    color: white;
    text-decoration: none;
    font-size: 36px;
}

.landingTitle {
    position: absolute;
    width: 100%;
    height: 100%;
}

.landingTitleH1 {
    font-size: 116px;
    margin-top: 22vh;
}

.landingTitleDate {
    position: absolute;
    width: 100%;
    height: 100%;
}

.landingTitleDateA {
    text-decoration: none;
    color: white;
    margin-top: 34vh;
    font-size: 48px;
}

.navButton {
    float: right;
    padding-right: 4vh;
}

.rsvpButton {
    background-color: white;
    border: none;
    padding: 8px;
    padding-right: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 4px 2px;
    border-radius: 40px;
}

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
}

.arrows path {
    stroke: rgba(0, 0, 0, 0.432);
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

.ceremonyTitle {
    font-size: 48px;
}

.ceremoneyTextBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.ceremonyPTag {
    font-size: 36px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: black;
}

.ceremonyPTagSpaceTp {
    padding-top: 2vh;
    font-size: 36px;
}

.ceremonyPTagSpaceBt {
    padding-bottom: 2vh;
    font-size: 36px;
}

.ceremonyPTagNoSpace {
    font-size: 36px;
}

.rsvpForm {
    padding-top: 1vh;
    background-color: white;
    color: black;
    padding-bottom: 2vh;
}

.formStyles {
    font-size: 32px;
}

.checkLabel {
    text-align: left;
}

.defaultFormSpacing {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.formCheckText {
    text-align: start;
}

.rsvpSubmitButton {
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: black;
    color: white;
    border: none;
    padding: 4px;
    padding-right: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    border-radius: 40px;
}

@media (max-width: 768px) {
    .landingView {
        min-height: 100vh;
        background-image: url('../images/Saint-Martin-Black-White-Landing-Mobile.jpg') !important;
    }

    .landingTitleH1 {
        margin-top: 17vh;
        font-size: 48px;
    }

    .landingTitleDateA {
        font-size: 42px;
        margin-top: 26vh;
    }

    .nav {
        justify-content: space-between;
        margin-left: 1vh;
    }
    
    .navLinkMediaRemove {
        display: none;
    }

    .navLink {
        color: white;
        text-decoration: none;
        font-size: 22px;
    }

    .navButton {
        padding-right: 2vh;
    }

    .rsvpButton {
        padding: 2px;
        padding-top: 3px;
        padding-right: 8px;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 40px;
        text-decoration: none;
        background-color: white;
        border: none;
        color: black;
    }

    .ceremonyTitle {
        font-size: 36px;
    }

    .ceremonyPTag {
        font-size: 16px;
        padding-top: 2vh;
        padding-bottom: 2vh;
        color: black;
    }

    .ceremonyPTagSpaceTp {
        padding-top: 2vh;
        font-size: 16px;
    }

    .ceremonyPTagSpaceBt {
        padding-bottom: 2vh;
        font-size: 16px;
    }

    .ceremonyPTagNoSpace {
        font-size: 16px;
    }
}